/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.menu-trigger-wrapper {
  display: none;
}

.header-nav {
  visibility: visible;
  position: unset;
  height: unset;
  width: unset;
  opacity: 1;
  background: transparent;
  ul {
    display: flex;
    flex-direction: row;
    background: transparent;
    width: 100%;
    height: 100%;
    li {
      position: relative;
      padding: 0 3rem;
      border-bottom: none;
      &::after {
          display: inline;
      }
      a {
        .slug {
          display: inline;
          font-family: 'Charm', cursive;
          margin: 0;
          font-size: 1.6rem;
        }
        span {
          font-size: 1rem;
        }
      }
      .sub-menu {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        bottom: -44px;
        left: 0;
        width: unset;
        display: block;
        transition: all .2s ease;
        li {
          background: $white;
          white-space: nowrap;
          border: 1px solid $med-gray;
          &:hover {
            background: $med-gray;
            a {
              color: $white;
            }
          }
          a {
            padding: 15px;
          }
          &::after {
            display: none;
          }
        }
      }
      &:hover {
        .sub-menu {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

.sidebar {
  width: 300px;
}

.contents-section {
	width: 800px;
}

.contents-page {
  &__center {
  max-width: 960px;
  width: 100%;
  }
}

.contents-section__inner {
  .contents-main-area {
    justify-content: baseline;
    .product {
      .product__image {
        height: 180px;
      }
    }
  }
}

.wrap {
  width: 1040px;
}
