/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/
html{
    font-size: 68.5%;
}

main {
	padding-top: 100px;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 760px;
}

/*********************
HEADER STYLES
*********************/

.header-container {
	height: 100px;
}

.scrolled .header-container {
    height: 80px;
}

/*********************
MAIN CONTENTS STYLES
*********************/

.contents-section__inner {
	.contents-main-area {
		.product {
			width: calc(100% / 3 - 6px);
			padding: 15px;
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;
	ul {
		background:$black;
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;
				}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

} /* end .nav */

/*********************
BREAD
*********************/

#breadcrumb {
	margin: 4rem 0;
	ul {
		li {
		font-size: 1.1rem;
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;
				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}

/*********************
BANNER LISTS
*********************/

.banner-lists {
	width: calc(100% - 40px);
	max-width: 1170px;
	flex-direction: row;
	margin-top: 30px;
	.banner-list  {
		width: calc(100% / 3 - 15px);
		img {
		max-width: 380.33px;
		height: 200px;
		}
	}
}