/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

ul {
    list-style: none;
    padding: 0;
}

//========================
//FONT SIZE

html{
    @include yuGothic();
    font-size: 56.5%;
    height: 100%;
}
body{
    font-size:1.4rem;/* 16px*/
    height: 100%;
    line-height: 1.5;
  	-webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
    margin: 0;
    color: $black;
    position: relative;
    .scroll-to-top {
        color: $white;
        position: fixed;
        bottom: 3rem;
        right: 3rem;
        cursor: pointer;
        display: block;
        z-index: 99;
        img {
            height: 6rem;
            width: 6rem;
        }
    }
}

main {
    padding-top: 70px;
}

.border-red {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
        background: $pink-border-color;
        z-index: -1;
    }
}

.border-regular {
    text-decoration: underline;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2rem;
    line-height: 1.333em;
    @include tenMincho();
}

h2, .h2 {
	font-size: 2rem;
	line-height: 1.4em;
    margin-bottom: 0.375em;
    @include tenMincho();
}

h3, .h3 {
    font-size: 1.4rem;
}

h4, .h4 {
	font-size: 1.3rem;
	font-weight: 700;
}

h5, .h5 {
	font-size: 1.2rem;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

body {
    position: relative;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 1;
    background: rgba(255, 255, 255, 1);
}

.fixed {
    top: -140px;
    transition: all 1s;
}

.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: $white;
    width: 100%;
    transition: all 1s;
    .header-container {
        height: 60px;
        box-shadow: 0 0 20px lightgrey;
    }
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    margin: 0 auto;
    box-shadow: 0 0 10px lightgrey;
    .shop-logo {
        text-decoration: none;
        color: $black;
        font-size: 1rem;
        padding-left: 3rem;
        @media screen and (max-width: 560px) {
            padding-left: 0;
        }
        p {
            margin: 0;
            line-height: normal;
            letter-spacing: 2px;
        }
        h1 {
            font-size: calc(2.3rem + ((1vw - 0.64rem) * 1.1429));
            margin: 0;
            font-family: 'Abril Fatface', cursive;
        }
    }
}

.header-nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1;
	opacity: 0;
	transition: .6s ease;
    visibility: hidden;
    display: flex;
    background-color: $med-gray-trans;
    ul {
        display: flex;
        flex-direction: column;
        width: 220px;
        margin: auto;
		background: $white;
        padding-left: 0;
        border-radius: 5px;
        li {
            padding: 2rem;
            border-bottom: 1px solid $med-gray;
            position: relative;
            &:last-child {
                border-bottom: none;
            }
            &:last-child::after {
                display: none;
            }
            &::after {
                position: absolute;
                content: '';
                height: 60%;
                width: 1px;
                top: 20%;
                right: 0;
                background: #292929;
                display: none;
            }
            a {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $black;
                transition: .3s;
                &:hover {
                    color: $bones-pink;
                }
                .slug {
                    display: none;
                }
            }
            .sub-menu {
                display: none;
                opacity: 0;
                transition: all .2s ease;
                position: relative;
                &::before {
                    content: 'a';
                    display: inline-block;
                    position: absolute;
                    top: 10px;
                    right: 0;
                }
                li {
                  background: $white;
                  white-space: nowrap;
                  border: 1px solid $med-gray;
                  a {
                    padding: 15px;
                  }
                  &::after {
                    display: none;
                  }
                }
              }
              &:hover {
                .sub-menu {
                  visibility: visible;
                  opacity: 1;
                }
              }
        }
    }
}

.open {
    overflow: hidden;
    visibility: visible;
    opacity: 1;
}

.menu-trigger-wrapper {
    z-index: 2;
	display: flex;
	flex-direction: column;
    align-items: center;
    p {
        font-size: calc(1.1rem + ((1vw - 0.64rem) * 0.3));
        margin: 0;
        text-align: center;
        line-height: inherit;
        width: 40px;
    }
    .menu-trigger,
    .menu-trigger span {
        transition: all .4s;
        box-sizing: border-box;
    }
    .menu-trigger {
	display: block;
        cursor: pointer;
        position: relative;
		width: 25px;
		height: 20px;
        span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: $black;
            border-radius: 4px;
            margin: 0;
            position: absolute;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 9px;
            }
            &:nth-child(3) {
                bottom: 0;
            }
        }
    }
}

.cross span {
    &:nth-child(1) {
        transform: rotate(45deg);
        top: 9px !important;
    }
    &:nth-child(2) {
    	opacity: 0;
    }
    &:nth-child(3) {
		transform: rotate(-45deg);
		top: 9px !important;
    }
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
		}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

				}

			}

		}

	} /* end .menu li */
} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

.contents-section {
    width: 100%;
    &__inner {
        margin-bottom: 30px;
        &:first-child > .contents-title > h1 {
            margin: 0 0 25px 0;
        }
        .entry-header,
        .contents-title {
            h1 {
                border-bottom: 1px solid $med-gray;
                margin-bottom: 25px;
                span {
                    border-bottom: 3px solid $med-gray;
                    padding: 0 0 10px 0;
                    display: inline-block;
                }
            }
            h2 {
                border-bottom: 1px solid $med-gray;
                span {
                    border-bottom: 3px solid $med-gray;
                    padding: 0 0 10px 0;
                    display: inline-block;
                }
            }
        }
        .contents-main-area {
            display: flex;
            flex-wrap: wrap;
            &__text {
                width: 100%;
                .price {
                    
                }
            }
            .product {
                width: calc(100% / 2 - 6px);
                margin: 3px;
                padding: 5px;
                background: $light-gray;
                &__image {
                    display: block;
                    width: 100%;
                    height: 130px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 0.4s;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
                &__text {
                    text-decoration: none;
                    color: inherit;
                    @include tenMincho();
                    letter-spacing: 0.4px;
                    p {
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
                &__name {
                    text-decoration: none;
                    font-weight: 600;
                    letter-spacing: 0.4px;
                    margin: 15px 0 0 0;
                    font-size: 1.3rem;
                    a {
                        color: inherit;
                    }
                }
                &__tags {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;
                    li {
                        height: 100%;
                        margin: 3px 6px 3px 0;
                        background-color: #EBF8B8;
                        padding: 0 4px;
                        white-space: nowrap;
                    }
                    .medium-roast {
                        background-color: #EBF8B8;
                    }
                    .light-roast {
                        background-color: #FFE787;
                    }
                    .dark-roast {
                        background-color: #007991;
                        color: #fff;
                    }
                }
                &__description {
                    p {
                        font-size: 1.2rem;
                        margin-top: 0;
                    }
                }
            }
            .contents-flex-row {
                display: flex;
                flex-direction: column;
                .contents-main-area__text {
                    width: 100%;
                }
                img {
                    width: 100%;
                    margin-left: 0px;
                    object-fit: cover;
                }
            }
            .contents-flex-col {
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .menu-h3 {
                margin-top: 20px;
                border-bottom: 1px dashed;
                width: 100%;
            }
        }
        .read-more-link {
            display: inline-block;
            width: 100%;
            margin-top: 5px;
            text-align: right;
            a {
                @include pinkButtonSm();
            }
        }
        .contents-info {
            display: flex;
            p {
                margin: 0 10px;
            }
        }
    }
    .article-title-section {
        margin-bottom: 20px;
    }
}

.contents-article {
    .contents-section__inner {
        margin-bottom: 20px;
    }
}

.contents-page {
    &__center {
		width: calc(100% - 20px);
        margin: 0 auto;
    }
}

.google-map {
    height: 50vh;
    max-height: 500px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    iframe {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
}

.yu-mincho {
    @include yuMincho();
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: flex;
      justify-content: center;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $dark-gray;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $dark-gray;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;
		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;
	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	/* general comment classes */
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;
	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $dark-gray;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
    }
    
/*********************
BREADCRUMB STYLES
*********************/

#breadcrumb {
    color: $dark-gray;
    margin: 3rem 0;
    ul {
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

/*********************
SIDEBARS & ASIDES
*********************/

.flex-row {
    width: calc(100vw - 140px);
    max-width: 1134px;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1030px) {
        width: calc(100vw - 20px);
        flex-direction: column;
        margin: 30px auto 0 auto;
    }
}
.flex-row-narrow {
    margin-top: 0;
}
.sidebar { 
    width: 100%;
    &__contents {
        margin-top: 40px;
        &__inner {
            padding: 0 10px;
        }
    }
    &__contents:first-child {
        margin-top: 0;
    }
    .search-bar {
        padding: 0 10px;
        form {
            display: flex;
            justify-content: center;
            height: 42px;
        }
        input {
            width: 70%;
            margin-right: 5px;
            padding: 0rem 1rem;
            background-image:none;
            background-color:transparent;
            box-shadow: none;
            border: 1px solid $meta-gray;
            border-radius: 0;
        }
        button {
            width: 20%;
            background-color: rgba(183, 24, 93, 0.2);
            color: $meta-gray;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 1rem 0;
            appearance: none;
        }
    }
    .roast-level {
        .roast-level-links {
            li a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
    .banners {
        li {
            height: 80px;
            margin-bottom: 10px;
            background: antiquewhite;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .tagcloud {
        display: flex;
        flex-direction: column;
    }
    a {
        font-size: 1.4rem !important;
        color: inherit;
        margin: 5px;
        &:hover {
            color: $bones-pink;
        }
    }
}
.sidebar-title {
    h3 {
        border-bottom: 1px solid $med-gray;
        font-size: 1.6rem;
        @include tenMincho();
        span {
            border-bottom: 3px solid $med-gray;
            padding: 0 0 10px 0;
            display: inline-block;
        }
    }
}


/*********************
BANNER STYLES
*********************/

.banner-lists {
    max-width: calc(100vw - 30px);
    width: 100%;
    margin: 15px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-list {
    position: relative;
    max-height: 200px;
    img {
        width: 100%;
        height: 110px;
        object-fit: cover;
    }
    .banner-description {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 15px;
        left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        h3 {
            @include fontWhite();
            margin: 0;
            text-align: center;
            font-weight: 600;
        }
        p {
            @include pinkButtonSm();
            @media screen and (max-width: 560px) {
                padding: .5rem 1rem;
            }
        }
    }
}


/*********************
FOOTER STYLES
*********************/

.footer-container {
    background-color: $light-gray;
    .copy-right-section {
        text-align: center;
    }
}
.footer {
    width: calc(100vw - 110px);
    max-width: 1170px;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 560px) {
        flex-direction: column;
        width: 100%;
    }
    &__contents {
        width: calc(100vw / 4);
        padding: 10px 20px;
        @media screen and (max-width: 560px) {
            width: 100%;
            padding: 0px 20px;
        }
        &__title {
            h4 {
                border-bottom: 1px solid $med-gray;
                color: $bones-pink;
                @include tenMincho();
                span {
                    border-bottom: 3px solid $med-gray;
                    padding: 0 0 5px 0;
                    display: inline-block;
                }
            }
        }
        &__inner {
            a {
                color: inherit;
            }
        }
        .facebook-feed {
            background: lightblue;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}